
<h1>Contact Information</h1>

<b>Email:</b> <p>contact@clangston.net<p><p>
<b>Phone:</b><br> 1-904-864-6409



<h1>Experience</h1>

<p>


<b>Everbank Financial Corp.</b><br>
Job Title: Information Security Technician<br>
Date:      June 2nd, 2013-<br>
Responsabilites: Assist in maintaining a secure web presence for Everbank Financial, developing security related tools, monitoring internal web traffic.

<p>

<b>JaxSolar</b><br>

Job Title: Marketing Assistant				<br>
Date:	May 2013				<br>
Responsabilites: Assisted in promoting and designing promotional materials for JaxSolar. Featured at OneSpark Jacksonville 2013		<br>

<p>


<b>Florida State College at Jacksonville</b><br>

Job Title: Tutor <br>
Date: August 2012 - May 2013 <br> 
Responsabilites:  Tutored math, physics, chemistry, and computer science. <br>



<p>

<h1>Education</h1><br>
<b>University of North Florida</b><br>
BSc in Physics (computational) Spring 2014<br><br>

<b>Florida State College at Jacksonville</b><br>
Associates in Arts Spring 2012



<p><p>

<h1>Skills</h1>


<b>Technical: </b><br>

Ruby on Rails Development<br>
Nessus<br>
PHP<br>
Java<br>
Python<br>
Linux<br>
Unix Scripting<br>
HTML<br>
Windows Server<br>
Nexspose<br>
<p><p>
<b>Soft Skills:</b><br>
Fluent in English, Russian <br>
AGILE Development<br>
Scrummaster<br>
Team Leadership<br>





